################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ms.Accounts.API/.vs/Ms.Accounts.API
/Ms.Accounts.API/bin/Debug/net6.0
/Ms.Accounts.API/obj
/Ms.Accounts.API/Ms.Accounts.API.csproj.user
